<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header th:fragment="header">
            <ul>                
                <li><a th:href="@{/}">[[#{template.header_index}]]</a></li>
                <li><a th:href="@{/posts/list}">[[#{template.header_listOfBlogs}]]</a></li>
                <li>
                    <form method="POST" th:action="@{/logout}">
                    <a href="#" onclick="this.parentNode.submit();">Logout</a>
                </form>
                </li>
            </ul>
        </header>
        <footer th:fragment="footer">
            <div>
                <p th:text="#{template.footer}"></p>
            </div>
            
        </footer>
    </body>
</html>
